div.windowControls {
  -webkit-user-select: none;
  -webkit-app-region: drag;
  position: fixed;
  top: 8px;
  right: 8px;
}
div.windowControls i {
  -webkit-app-region: no-drag;
  color: white;
  cursor: pointer;
}
div.windowControls i:hover {
  background-color: #cccccc80;
}
